/* Styling for the masthead */
header.masthead {
  text-align: center;
  background-color: lightyellow;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  @include background-cover;

  .intro-text {
    padding-top: 100px; /* 위쪽 공백을 줄입니다 */

    .intro-heading {
      text-align: center;
      @include heading-font;

      /* 이미지에 대한 스타일 추가 */
      img.intro-image {
        max-width: 150%; /* 이미지 크기를 150%로 설정 */
        width: 150%; /* 컨테이너의 150% 크기로 설정 */
        display: block; /* 블록 요소로 표시 */
        margin: 0 auto; /* 중앙 정렬 */
        margin-bottom: -50px;
      }
    }

    .intro-lead-in {
      color: rgb(176, 174, 174);
      font-size: 20px;
      font-family: 'Do Hyeon'; /* 폰트 스타일 수정 */
      margin-top: -100px; /* 이미지와의 간격을 줄이기 위해 음수 마진 사용 */
    }
  }

  .btn-primary {
    margin-top: 100px; /* lead-in과 버튼 사이의 간격 */
    padding: 14px 27px; /* 버튼 크기 조정 */
    font-size: 23px; /* 버튼 폰트 크기 조정 */
    margin-bottom: 175px;
  }
}

@media (min-width: 768px) {
  header.masthead {
    .intro-text {

      .intro-heading {
       
        /* 이미지에 대한 스타일 추가 */
        img.intro-image {
          max-width: 200%; /* 이미지 크기를 더 키움 */
          width: 200%; /* 컨테이너의 200% 크기로 설정 */
          height: auto; /* 비율 유지 */
          display: block; /* 블록 요소로 표시 */
          margin: 0 auto; /* 중앙 정렬 */
          margin-bottom: -50px;
        }
      }

      .intro-lead-in {
        font-size: 40px;
        line-height: 40px;
        @include heading-font;
        margin-top: -200px; /* 이미지 아래로 더 가깝게 이동 */
      }
    }
  }
}
