/* Styling for the masthead */
header.masthead {
  text-align: center;
  background-color: lightyellow;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  @include background-cover;
  .intro-text {
    padding-top: 150px;
    padding-bottom: 10px;
    .intro-lead-in {
      color: lightslategray;
      font-size: 22px;
      font-style: 'Do Hyeon';
      line-height: 22px;
      margin-bottom: 25px;
      @include script-font;
    }
    .intro-heading {
      /* 텍스트 스타일 제거 */
      margin-bottom: 25px;
      text-align: center;
      @include heading-font;

      /* 이미지에 대한 스타일 추가 */
      img.intro-image {
        max-width: 120%; /* 컨테이너에 맞게 이미지 크기 조절 */

        display: block; /* 블록 요소로 표시 */
        margin: 0 auto; /* 중앙 정렬 */
      }
    }
  }
}

@media (min-width: 768px) {
  header.masthead {
    .intro-text {
      padding-top: 300px;
      padding-bottom: 50px;
      .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        @include serif-font;
      }
      .intro-heading {
        margin-bottom: 50px;

        /* 이미지에 대한 스타일 추가 */
        img.intro-image {
          max-width: 100%; /* 컨테이너에 맞게 이미지 크기 조절 */
          height: auto; /* 비율 유지 */
          display: block; /* 블록 요소로 표시 */
          margin: 0 auto; /* 중앙 정렬 */
        }
      }
    }
  }
}
