/* Styling for the masthead */
header.masthead {
  text-align: center;
  background-color: lightyellow;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  @include background-cover;

  .intro-text {
    padding-top: 100px; /* 위쪽 공백을 줄입니다 */

    .intro-lead-in {
      color: lightslategray;
      font-size: 22px;
      font-family: 'Do Hyeon'; /* 폰트 스타일 수정 */
      @include script-font;
    }

    .intro-heading {
      text-align: center;
      @include heading-font;

      /* 이미지에 대한 스타일 추가 */
      img.intro-image {
        max-width: 110%; /* 컨테이너에 맞게 이미지 크기 조절 */
        display: block; /* 블록 요소로 표시 */
        margin: 0 auto; /* 중앙 정렬 */
      }
    }
  }

  .btn-primary {
    margin-top: -100px;
    padding: 15px 30px; /* 버튼 크기 조정 */
    font-size: 21px; /* 버튼 폰트 크기 조정 */
    margin-bottom: 100px;
  }
}

@media (min-width: 768px) {
  header.masthead {
    .intro-text {
      
      .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        @include serif-font;
      }

      .intro-heading {
       
        /* 이미지에 대한 스타일 추가 */
        img.intro-image {
          max-width: 110%; /* 컨테이너에 맞게 이미지 크기 조절 */
          height: auto; /* 비율 유지 */
          display: block; /* 블록 요소로 표시 */
          margin: 0 auto; /* 중앙 정렬 */
        }
      }
    }
  }
}
