---
layout: default
---
{%- assign assets_path = "assets/" -%}
{%- if site.assets_path -%}
  {%- assign assets_path = site.assets_path -%}
{%- endif -%}
    {% assign ws = '' %}
    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text text-center">
          <!-- 텍스트 대신 이미지로 교체 -->
          <div class="intro-heading">
            <img src="{{ '/assets/img/ZW_logo_.png' | relative_url }}" alt="ZeeWoo Logo">
          </div>
          <div class="intro-lead-in">{{ site.data.home.intro.lead-in }}</div>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">{{ site.data.home.intro.btn }}</a>
        </div>
      </div>
    </header>

    <!-- Services -->
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">{{ site.data.home.services.heading }}</h2>
            <h3 class="section-subheading" style="font-size: 1.3em; line-height: 1.5;">{{ site.data.home.services.subheading }}</h3>
            <h3 class="section-introduce" style="color: #000; line-height: 1.5;">{{ site.data.home.services.introduce }}</h3>
            <h5 class="section-description" style="font-weight: bold; line-height: 1.6;">{{ site.data.home.services.description }}</h5>
            <div class="section-features" style="line-height: 1.5; text-align: center;">
              <h4><strong>주요 기능</strong></h4>
              <h5>- 💼 안전한 파일 삭제 : 파일 복구가 불가능하도록 완전한 삭제</h5>
              <h5>- ⏰ 자동 스케줄링 : 주기적인 파일 자동 삭제 기능</h5>
              <h5>- 📂 다양한 파일 형식 지원 : PDF, 이미지(JPEG, PNG), 문서(Word, Excel) 등 다양한 형식의 파일 탐지 및 삭제</h5>
              <h5>- 🔍 YOLO 기반 이미지 탐지 : 민감한 정보를 포함한 이미지를 자동 탐지</h5>
              <h5>- 🎨 직관적인 UI : 쉽게 사용할 수 있는 간편한 사용자 인터페이스</h5>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Portfolio Grid -->
    <section class="bg-light" id="portfolio" style="padding: 4rem 0;">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">{{ site.data.home.portfolio.heading }}</h2>
            <h3 class="section-subheading" style="font-size: 1.3em; line-height: 1.5;">{{ site.data.home.portfolio.subheading }}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <h4><strong>🛠 사용 방법</strong></h4>
            <h5>- 파일 탐지 및 삭제: 탐지할 파일 경로를 설정 후,  탐지된 파일을 표시 및 삭제 여부 확인</h5>
            <h5>- 스케줄링 설정: 사용자가 원하는 날짜와 시간 설정 후 주기적인 파일 삭제 가능</h5>
            <h5>- 탐지 및 삭제 확인: 탐지된 파일 표시 후, 파일 삭제 여부를 묻고, 삭제 진행</h5>
            
            <h4><strong>💼 사용 사례</strong></h4>
            <h5>- 개인 및 기업 정보 보호: 민감한 고객 정보 / 개인 파일을 안전하게 삭제 및 복구 가능성 차단</h5>
            <h5>- 자동 파일 정리: 불필요한 파일의 주기적 정리로 컴퓨터 용량 관리에 효율적</h5>
            <h5>- 정보 유출 방지: 삭제된 파일을 복구할 수 없도록 하여 정보 유출 방지</h5>

          </div>
        </div>
      </div>
    </section>

    <!-- Team -->
    <section class="bg-light" id="team" style="background-color: #f8f9fa; padding: 5rem 0;">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">{{ site.data.home.team.heading }}</h2>
            <h3 class="section-subheading text-muted">{{ site.data.home.team.subheading }}</h3>
          </div>
        </div>
        <div class="row">
          {%- for member in site.data.home.team.members -%}
          <div class="col-sm-4">
            <div class="team-member text-center">
              <img class="mx-auto rounded-circle" src="{{ assets_path }}{{ member.img }}" alt="">
              <h4>{{ member.name }}</h4>
              <p class="text-muted">{{ member.role }}</p>
              <ul class="list-inline social-buttons">
                {%- for sm in member.social-buttons -%}
                <li class="list-inline-item">
                  <a href="{{ sm.url }}">
                    <i class="{{ sm.icon }}"></i>
                  </a>
                </li>
                {%- endfor -%}
              </ul>
            </div>
          </div>
          {%- endfor -%}
        </div>
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <p class="large text-muted">{{ site.data.home.team.text }}</p>
            <a class="btn btn-primary btn-xl text-uppercase" href="{{ site.data.home.team.download_link }}" target="_blank" style="padding: 1rem 2rem; font-size: 1.2em;">Eraser Software</a>
          </div>
        </div>
      </div>
    </section>
